
body{
    background-color: rgb(34,36,34);
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    line-height: 10px;
    max-width:1000px;
    margin:0 auto;


}
a{color: white;
    font-weight: bolder;

}
a:hover{
color: blueviolet;
transition: 0,3s all;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{flex-direction: column;
    line-height: 10px;

}
li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;

}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}
h2{
    font-size: 26px;
    line-height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
span{    color: blueviolet;

}
img{
    border-radius: 1200px;
    width:250px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 16px;
line-height: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;

}
form [type="submit"]{
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    align-items: center;
}
form [type="submit"]:hover{
    cursor: pointer;

}

input{
    
    margin-top: 10px;
    height: 15px;
    padding: 20px;
    border-radius: 20px;
}
button{
    background-color: blueviolet;
    color: black;
    border-radius: 10px;
    width: 60%;
    height:50px;
    font-size: 20px;
margin-left: 17%;    
}